@mixin button($background, $text-color, $hover-background) {
    background: $background;
    color: $text-color;
    padding: 15px;
    border-radius: 25px;
    font-weight: 400;
    font-size: 15px;
    &:hover {
      box-shadow: -1px 5px 14px 0px rgba(0,0,0,0.34);
      background: $hover-background;
    }
  }
