//fonts
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$font-shrikhand : "Shrikhand", serif;
$font-roboto : "Roboto", sans-serif;

//colors
$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;
$color-bg-primary : rgb(246, 246, 246);


//breakpoints
$md-breakpoint: 768px;
$xl-breakpoint: 1024px;





