@use '../sass/variables' as v;
@use '../sass/mixins' as m;
@use "../sass/variables";

body {
    font-family: v.$font-roboto;
    font-weight: 500;
    margin: 0;
}

a{
    text-decoration: none;
    color: unset;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    .logo {
        width: 50%;
        padding: 8px;
        margin: auto;
    }
    i{
        margin-left: 10px;
    }
   
}

.restaurant-cover{
    position: relative;
}

.restaurant-cover img{
    width: 100%;
    object-fit: cover;
}

.restaurant-menu {
    background-color: v.$color-bg-primary;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: absolute;
    top:250px;
    width: 100%;
    .restaurant-title{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        h3{
            font-family: v.$font-shrikhand;
            font-size: 30px;
            margin-left: 20px;
        }
        .card-like i {
            font-size: 25px;
            position: absolute;
            right: 5%;
            bottom: 40%;
        }
        .card-like .full{
            opacity: 0;
            transition-property: all;
            transition-duration: 0.5s;
            &:hover{
                opacity: 1;
                background: linear-gradient(0deg,#9356dc 0%, #ff79da 100%);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }
        }
    }
    .menu-items{
        margin: 10px;
        .items{
            .items-title{
                position: relative;
                display: inline-block;
                text-transform: uppercase;
                font-weight: 200;
            }
            .items-title::after {
                content: ""; 
                position: absolute; 
                bottom: -5px; 
                left: 0; 
                width: 40px; 
                height: 3px; 
                background-color: v.$color-tertiary; 
            }
        
        .item{
            @include m.box-shadow();
            width: 90%;
            margin: auto;
            border-radius: 15px;
            margin-top: 20px;
            position: relative;
            .item-content{
                display: flex;
                align-items: end;
                justify-content: space-between;
                padding: 15px;
                .item-title{
                    margin: 0;
                    font-size: 23px;
                }
                .item-subtitle{
               
                    margin-top: 5px;
                    font-weight: 200;
                    font-size: 17px;
                }
                .item-price p {
                    margin: 0;
                    font-size: 12px;
                }
                .item-title, .item-subtitle {
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            /* icone qui apparait pour le survol d'un item */
            .check-icon {
                display: none; 
                width: 5%;
                height: 100%;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }
            .check-icon i {
                color: white; 
                font-size: 24px; 
            }
        }
        .item:hover{
            .check-icon {
               @include m.flex-center();
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: v.$color-tertiary;
            }
            .item-price {
                position: absolute;
                right: 70px;
                bottom: 10px;
            }
            }
        }
    }
    .btn {
        @include m.button(linear-gradient(0deg,#9356dc 0%, #ff79da 100%), white, linear-gradient(0deg,#9356dc 0%, rgba(255,121,218,0.7) 100%));
    }
}

.footer{
    background-color: #353535;
    color: white;
    padding: 10px;
    width: 100%;
    position:fixed;
    bottom: 0;
    p {
        font-family: v.$font-shrikhand;
        margin-bottom: 10px;
    }
    .footer-nav {
        ul{
            padding-inline-start: 0;
        }
        ul li{
        list-style: none;
        font-weight: 300;
        font-size: 12px;
        i{
            padding-right: 3px;
        }
    }
 }
}


/* anim menu titre */
@keyframes fadeInTitle {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* anim chaque élément */
@keyframes fadeInItem {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* anim menu */
.items-title {
    animation: fadeInTitle 0.5s ease forwards;
}

/* anim pour chaque élément tour à tour */
.items a{
    opacity: 0; /* initialement invisibles */
}

.items a:nth-child(1) {
    animation: fadeInItem 0.5s ease forwards; 
}

.items a:nth-child(2) {
    animation: fadeInItem 0.5s ease forwards 0.5s; 
}

.items a:nth-child(3) {
    animation: fadeInItem 0.5s ease forwards 0.9s; 
}
.items a:nth-child(4) {
    animation: fadeInItem 0.5s ease forwards 1.3s; 
}
.items a:nth-child(5) {
    animation: fadeInItem 0.5s ease forwards 1.7s;
}

@media screen and (min-width: v.$md-breakpoint){
    .header{
        .logo {
            width: 30%;
            padding: 30px;
        }
    }
    .restaurant-menu {
        top: 60%;
        left: 8%;
        width: 85%;
        margin: auto;
        .restaurant-title{
           justify-content: center;
            .card-like i {
                right: 22%;
            }
        }
        .menu-items{
            margin: 10px;
            .items{
                width: 80%;
                margin: auto;
                margin-bottom: 20px;
                .item{
                    width: 90%;
                    margin: auto;
                    margin-top: 20px;
                    margin-left:0;
                    position: relative;
                }
            }
        }
    }
    .footer{
        display: flex;
        justify-content: right;
        align-items: center;
        height: 100px;
        p {
            margin: 0;
            order: 2;
        }
        .footer-nav ul{
            display: flex;
            margin-inline: 20px;
        }
        .footer-nav ul li{
            padding-inline: 5px;
        }
     }
 }

@media screen and (min-width: v.$lg-breakpoint){
    .header{
        .logo {
            width: 20%;
        }
    }
    .restaurant-cover{
        height: 450px;
        & img {
            height: 100%;
        }
    }
    .restaurant-menu{
        .restaurant-title {
            h3{
                font-size: 35px;
            }
                .card-like i {
                    right: 25%;
                }
            }

    }
    }
 