@use '../sass/variables' as v;
@use '../sass/mixins' as m;
@use "../sass/reset";


h2{
    padding: 25px;
}
h5{
    font-size : 20px;
}

.loader, 
.header,
.location,
.hero,
.steps,
.steps-items,
.restaurants-cards a,
.card img,
.footer {
    width: 100%;
}

.hero,
.steps-items,
.card-content,
.footer {
    align-items: center;
}

.hero p,
.card-txt p, 
.footer-nav ul li{ 
    font-weight: 200;
}

.card, .step{
    @include m.box-shadow();
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999; 
    @include m.flex-center();
    animation: fadeOut 2s ease 1s forwards; /* fondu après 2 sec */
  
    &::before {
        content: ""; 
        background-image: url('../assets/logo/loader.svg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 300px;
        height: 300px;
        animation: spin 3s linear infinite; /* rotation */
        -moz-animation: spin 3s linear infinite;
    }
}

/* rotation du svg ohmyfood.loading */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* fondu */
@keyframes fadeOut {
    0% {
        opacity: 1; 
    }
    100% {
        opacity: 0; 
        display: none;
        z-index: -1;
    }
}

.header{
    text-align: center;
    font-size: 12px;
    .logo {
        width: 50%;
        padding: 10px;
        @media screen and (min-width: v.$xl-breakpoint){
            width: 18%;
            padding: 30px;
        }
    }
    .location {
        @include m.flex-center();
        gap: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        box-shadow: 
            inset 0 -5px 10px -5px rgba(0, 0, 0, 0.7), /* Ombre en haut */
            inset 0 5px 10px -5px rgba(0, 0, 0, 0.7);  /* Ombre en bas */
        input{
            border: none;
            text-align: center;
        }
    }
    
        }


.hero{
    height: 300px;
    @include m.flex-col();
    justify-content: space-evenly;
    text-align: center;
    background-color: v.$color-bg-primary;
    h1, p{
        width: 70%;
    }
    .btn {
        @include m.button(linear-gradient(0deg,#9356dc 0%, #ff79da 100%), white, linear-gradient(0deg,#9356dc 0%, rgba(255,121,218,0.7) 100%));
    }
    @media screen and (min-width: v.$xl-breakpoint){
        h1{
            font-size: 30px;
        }
    }
}

.steps{
    height: 400px;
    @include m.flex-col();
    align-items: flex-start;
    margin: 30px 0;
    .steps-items{
        @include m.flex-col();
        justify-content: space-around;
        height: 300px;
        .step{
            width: 70%;
            margin: auto;
            height: 60px;
            @include m.flex-center();
            gap: 20px;
            position: relative;
            background-color: v.$color-bg-primary;
            border-radius: 20px;
            span{
                position: absolute;
                left:-12px;
                top: 15px;
                background : v.$color-primary;
                padding: 6px 10px;
                border-radius: 9999px;
                font-size: 15px;
                color: white;
            }
            &:nth-of-type(1), &:nth-of-type(2) { 
                i {
                    color: #808080; 
                }
            }
            &:nth-of-type(3) { 
                i {
                    color: v.$color-primary; 
                }
            }
        }
    }
    @media (min-width: v.$md-breakpoint) {
        height: 150px;
        .steps-items{
            display: flex;
            flex-direction: row;
            width: 90%;
            margin: auto;
        }
        .step{
            font-size: 15px; 
            gap: 5px;
            span{
                left:0;
            }
        @media screen and (min-width: v.$xl-breakpoint){
                    flex-basis: 30%;  
                }
            }
        }
    }

.restaurants{
    background-color: v.$color-bg-primary;
    padding: 30px 0;
    .restaurants-cards{
        a {
            height: 250px;
            @media screen and (min-width: v.$xl-breakpoint){
                flex-basis: 45%;
                height: fit-content;
            }
        }
        .card{
            width: 90%;
            margin: auto;
            position: relative;
            border-radius: 20px;
            margin-top: 30px;
            .new {
                background-color: v.$color-tertiary;
                color: #008766;
                padding: 4px;
                position: absolute;
                top:15px;
                right: 10px;
                border-radius: 2px;
            }
            img{
                height: 200px;
                object-fit: cover;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
            .card-content{
                display: flex;
                justify-content: space-between;
                .card-txt,.card-like{
                    padding: 10px;
                }
                .card-txt p {
                    margin-top: 5px;
                }
                .card-like i {
                    font-size: 25px;
                    position: absolute;
                    right: 20px;
                    bottom: 20px;
                }
                .card-like .full{
                    opacity: 0;
                    transition-property: all;
                    transition-duration: 0.5s;
                    &:hover{
                        opacity: 1;
                        background: linear-gradient(0deg,#9356dc 0%, #ff79da 100%);
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                    }
                }
            }
        }
        @media screen and (min-width: v.$xl-breakpoint){
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
}

.footer{
    background-color: #353535;
    color: white;
    padding: 20px;
    p {
        font-family: v.$font-shrikhand;
        margin-bottom: 10px;
    }
    .footer-nav ul li{
        list-style: none;
        font-size: 12px;
        i{
            padding-right: 3px;
        }
    }
    @media (min-width: v.$md-breakpoint) {
        display: flex;
        justify-content: right;
        height: 100px;
        p {
            margin-bottom: 0;
            order: 2;
        }
        .footer-nav ul{
            display: flex;
            margin-inline: 30px;
        }
        .footer-nav ul li{
            padding-inline: 10px;
        }
    }
}